main {
    min-height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home-graficos {
    width: 100vw;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.grafico-exemplo {
    max-height: 30vh;
    max-width: 30vw;
}

#section-form {
    width: 75vw;
}

#section-form input, select{
    max-width: 90% !important;
}

.input-error {
    border-color: red !important;
}

.grafico {
    max-height: 40vh;
    max-width: 50vw;
    padding: 2vh 2vw;
}

#btn-theme{
    border: none;
    background: none;
}